---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/me/adaccounts?access_token=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"77dece23ab85d29f77e0ac944b8ea2c599b17702"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"account_id":"1387991991504454","id":"act_1387991991504454"},{"account_id":"330410070","id":"act_330410070"}],"paging":{"cursors":{"before":"NjAyMTM3NDcwNTI1OA==","after":"NjAwMzQwNjkyMTA3MQ=="}}}'
  recorded_at: Mon, 15 Jun 2015 18:48:50 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/act_330410070/adcampaign_groups?access_token=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"1c1bc53719df772ddb175a142e48a736fb5b8a8c"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6018202879071"},{"id":"6022352143271"},{"id":"6025097858271"},{"id":"6025097858471"},{"id":"6025097858871"},{"id":"6025097860071"},{"id":"6025097860271"},{"id":"6025097860471"},{"id":"6013694911671"},{"id":"6013695314071"},{"id":"6013695715071"},{"id":"6013696183271"},{"id":"6013734336471"},{"id":"6013734800271"},{"id":"6013734827271"},{"id":"6013844400071"},{"id":"6013844400271"},{"id":"6013939530271"},{"id":"6014309373671"},{"id":"6016656440871"},{"id":"6016925455671"},{"id":"6016925455871"},{"id":"6017065961671"},{"id":"6017066317671"},{"id":"6018117120071"}],"paging":{"cursors":{"before":"NjAxODIwMjg3OTA3MQ==","after":"NjAxODExNzEyMDA3MQ=="},"next":"https:\/\/graph.facebook.com\/v2.3\/act_330410070\/adcampaign_groups?access_token=<TOKEN>&limit=25&after=NjAxODExNzEyMDA3MQ\u00253D\u00253D"}}'
  recorded_at: Mon, 15 Jun 2015 18:48:50 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/act_330410070/adcampaign_groups?access_token=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"1c1bc53719df772ddb175a142e48a736fb5b8a8c"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6018202879071"},{"id":"6022352143271"},{"id":"6025097858271"},{"id":"6025097858471"},{"id":"6025097858871"},{"id":"6025097860071"},{"id":"6025097860271"},{"id":"6025097860471"},{"id":"6013694911671"},{"id":"6013695314071"},{"id":"6013695715071"},{"id":"6013696183271"},{"id":"6013734336471"},{"id":"6013734800271"},{"id":"6013734827271"},{"id":"6013844400071"},{"id":"6013844400271"},{"id":"6013939530271"},{"id":"6014309373671"},{"id":"6016656440871"},{"id":"6016925455671"},{"id":"6016925455871"},{"id":"6017065961671"},{"id":"6017066317671"},{"id":"6018117120071"}],"paging":{"cursors":{"before":"NjAxODIwMjg3OTA3MQ==","after":"NjAxODExNzEyMDA3MQ=="},"next":"https:\/\/graph.facebook.com\/v2.3\/act_330410070\/adcampaign_groups?access_token=<TOKEN>&limit=25&after=NjAxODExNzEyMDA3MQ\u00253D\u00253D"}}'
  recorded_at: Mon, 15 Jun 2015 18:48:51 GMT
recorded_with: VCR 2.9.2
