---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/act_330410070/adgroups?access_token=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"85ebdf05ed9fd10b5695834881f49f597c5265b6"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6025433555071"},{"id":"6025433765271"},{"id":"6025526303471"},{"id":"6025526321871"},{"id":"6025396551671"},{"id":"6025352670471"},{"id":"6025611509471"},{"id":"6025615327871"},{"id":"6025122270071"},{"id":"6025622524871"},{"id":"6025621391271"},{"id":"6025433764471"},{"id":"6025621319071"},{"id":"6025620897271"},{"id":"6025433769871"},{"id":"6025620875871"},{"id":"6025620341871"},{"id":"6025620304871"},{"id":"6025616608471"},{"id":"6025615296471"},{"id":"6025615366671"},{"id":"6025352667271"},{"id":"6025615366871"},{"id":"6025279133071"},{"id":"6025396552871"}],"paging":{"cursors":{"before":"NjAyNTQzMzU1NTA3MQ==","after":"NjAyNTM5NjU1Mjg3MQ=="},"next":"https:\/\/graph.facebook.com\/v2.3\/act_330410070\/adgroups?access_token=<TOKEN>&limit=25&after=NjAyNTM5NjU1Mjg3MQ\u00253D\u00253D"}}'
  recorded_at: Mon, 15 Jun 2015 18:14:10 GMT
[...]
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/me/adaccounts?access_token=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"77dece23ab85d29f77e0ac944b8ea2c599b17702"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"account_id":"1387991991504454","id":"act_1387991991504454"},{"account_id":"330410070","id":"act_330410070"}],"paging":{"cursors":{"before":"NjAyMTM3NDcwNTI1OA==","after":"NjAwMzQwNjkyMTA3MQ=="}}}'
  recorded_at: Tue, 16 Jun 2015 13:58:27 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/act_330410070/adcampaigns?access_token=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"13a18936763f71c32d48e6c818169f14ae01674f"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6025615363471"},{"id":"6025611632071"},{"id":"6025611506471"},{"id":"6025526299671"},{"id":"6025526299071"},{"id":"6025526298871"},{"id":"6025526297671"},{"id":"6025526297471"},{"id":"6025525809671"},{"id":"6025525469471"},{"id":"6025525468671"},{"id":"6025525363871"},{"id":"6025525363271"},{"id":"6025433762071"},{"id":"6025433551271"},{"id":"6025396549671"},{"id":"6025352638471"},{"id":"6025097905471"},{"id":"6025097905271"},{"id":"6025097904871"},{"id":"6025097903671"},{"id":"6025097902271"},{"id":"6025097902071"},{"id":"6025097901871"},{"id":"6025097901471"}],"paging":{"cursors":{"before":"NjAyNTYxNTM2MzQ3MQ==","after":"NjAyNTA5NzkwMTQ3MQ=="},"next":"https:\/\/graph.facebook.com\/v2.3\/act_330410070\/adcampaigns?access_token=<TOKEN>&limit=25&after=NjAyNTA5NzkwMTQ3MQ\u00253D\u00253D"}}'
  recorded_at: Tue, 16 Jun 2015 13:58:27 GMT
[...]
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/me/adaccounts?access_token=<TOKEN>&fields=name,description
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"62130b105f78171944bd22437ae3bbfe7b7fb377"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"name":"","account_id":"1387991991504454","id":"act_1387991991504454"},{"name":"Lostmy.name","account_id":"330410070","id":"act_330410070"}],"paging":{"cursors":{"before":"NjAyMTM3NDcwNTI1OA==","after":"NjAwMzQwNjkyMTA3MQ=="}}}'
  recorded_at: Tue, 16 Jun 2015 14:20:24 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/me/adaccounts?access_token=<TOKEN>&fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"77dece23ab85d29f77e0ac944b8ea2c599b17702"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"account_id":"1387991991504454","id":"act_1387991991504454"},{"account_id":"330410070","id":"act_330410070"}],"paging":{"cursors":{"before":"NjAyMTM3NDcwNTI1OA==","after":"NjAwMzQwNjkyMTA3MQ=="}}}'
  recorded_at: Tue, 16 Jun 2015 14:22:06 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/act_330410070/adcampaigns?access_token=<TOKEN>&fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"2bd9d2458ab1ed0c3abf1c82a2c18069c29cb455"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6025615363471"},{"id":"6025611632071"},{"id":"6025611506471"},{"id":"6025526299671"},{"id":"6025526299071"},{"id":"6025526298871"},{"id":"6025526297671"},{"id":"6025526297471"},{"id":"6025525809671"},{"id":"6025525469471"},{"id":"6025525468671"},{"id":"6025525363871"},{"id":"6025525363271"},{"id":"6025433762071"},{"id":"6025433551271"},{"id":"6025396549671"},{"id":"6025352638471"},{"id":"6025097905471"},{"id":"6025097905271"},{"id":"6025097904871"},{"id":"6025097903671"},{"id":"6025097902271"},{"id":"6025097902071"},{"id":"6025097901871"},{"id":"6025097901471"}],"paging":{"cursors":{"before":"NjAyNTYxNTM2MzQ3MQ==","after":"NjAyNTA5NzkwMTQ3MQ=="},"next":"https:\/\/graph.facebook.com\/v2.3\/act_330410070\/adcampaigns?access_token=<TOKEN>&fields&limit=25&after=NjAyNTA5NzkwMTQ3MQ\u00253D\u00253D"}}'
  recorded_at: Tue, 16 Jun 2015 14:22:06 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/act_330410070/adcampaigns?access_token=<TOKEN>&fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"2bd9d2458ab1ed0c3abf1c82a2c18069c29cb455"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6025615363471"},{"id":"6025611632071"},{"id":"6025611506471"},{"id":"6025526299671"},{"id":"6025526299071"},{"id":"6025526298871"},{"id":"6025526297671"},{"id":"6025526297471"},{"id":"6025525809671"},{"id":"6025525469471"},{"id":"6025525468671"},{"id":"6025525363871"},{"id":"6025525363271"},{"id":"6025433762071"},{"id":"6025433551271"},{"id":"6025396549671"},{"id":"6025352638471"},{"id":"6025097905471"},{"id":"6025097905271"},{"id":"6025097904871"},{"id":"6025097903671"},{"id":"6025097902271"},{"id":"6025097902071"},{"id":"6025097901871"},{"id":"6025097901471"}],"paging":{"cursors":{"before":"NjAyNTYxNTM2MzQ3MQ==","after":"NjAyNTA5NzkwMTQ3MQ=="},"next":"https:\/\/graph.facebook.com\/v2.3\/act_330410070\/adcampaigns?access_token=<TOKEN>&fields&limit=25&after=NjAyNTA5NzkwMTQ3MQ\u00253D\u00253D"}}'
  recorded_at: Tue, 16 Jun 2015 14:22:06 GMT
recorded_with: VCR 2.9.2
