---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/me/adaccounts?access_token=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"77dece23ab85d29f77e0ac944b8ea2c599b17702"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"account_id":"1387991991504454","id":"act_1387991991504454"},{"account_id":"330410070","id":"act_330410070"}],"paging":{"cursors":{"before":"NjAyMTM3NDcwNTI1OA==","after":"NjAwMzQwNjkyMTA3MQ=="}}}'
  recorded_at: Tue, 16 Jun 2015 13:58:26 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/act_330410070/adgroups?access_token=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"e7619f347e9931dd8711c0c6dfc62acecf488e19"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6025433769871"},{"id":"6025525815671"},{"id":"6025620304871"},{"id":"6025433555071"},{"id":"6025433765271"},{"id":"6025526303471"},{"id":"6025526321871"},{"id":"6025396551671"},{"id":"6025352670471"},{"id":"6025611509471"},{"id":"6025615327871"},{"id":"6025122270071"},{"id":"6025622524871"},{"id":"6025621391271"},{"id":"6025433764471"},{"id":"6025621319071"},{"id":"6025620897271"},{"id":"6025620875871"},{"id":"6025620341871"},{"id":"6025616608471"},{"id":"6025615296471"},{"id":"6025615366671"},{"id":"6025352667271"},{"id":"6025615366871"},{"id":"6025279133071"}],"paging":{"cursors":{"before":"NjAyNTQzMzc2OTg3MQ==","after":"NjAyNTI3OTEzMzA3MQ=="},"next":"https:\/\/graph.facebook.com\/v2.3\/act_330410070\/adgroups?access_token=<TOKEN>&limit=25&after=NjAyNTI3OTEzMzA3MQ\u00253D\u00253D"}}'
  recorded_at: Tue, 16 Jun 2015 13:58:26 GMT
[...]
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/me/adaccounts?access_token=<TOKEN>&fields=name,description
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"62130b105f78171944bd22437ae3bbfe7b7fb377"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"name":"","account_id":"1387991991504454","id":"act_1387991991504454"},{"name":"Lostmy.name","account_id":"330410070","id":"act_330410070"}],"paging":{"cursors":{"before":"NjAyMTM3NDcwNTI1OA==","after":"NjAwMzQwNjkyMTA3MQ=="}}}'
  recorded_at: Tue, 16 Jun 2015 14:20:24 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/me/adaccounts?access_token=<TOKEN>&fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"77dece23ab85d29f77e0ac944b8ea2c599b17702"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"account_id":"1387991991504454","id":"act_1387991991504454"},{"account_id":"330410070","id":"act_330410070"}],"paging":{"cursors":{"before":"NjAyMTM3NDcwNTI1OA==","after":"NjAwMzQwNjkyMTA3MQ=="}}}'
  recorded_at: Tue, 16 Jun 2015 14:22:05 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/act_330410070/adgroups?access_token=<TOKEN>&fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"4eedc5e6f5d6a8da531a9b65ec718c4e37f43abe"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6025433769871"},{"id":"6025525815671"},{"id":"6025620304871"},{"id":"6025433555071"},{"id":"6025433765271"},{"id":"6025526303471"},{"id":"6025526321871"},{"id":"6025396551671"},{"id":"6025352670471"},{"id":"6025611509471"},{"id":"6025615327871"},{"id":"6025122270071"},{"id":"6025622524871"},{"id":"6025621391271"},{"id":"6025433764471"},{"id":"6025621319071"},{"id":"6025620897271"},{"id":"6025620875871"},{"id":"6025620341871"},{"id":"6025616608471"},{"id":"6025615296471"},{"id":"6025615366671"},{"id":"6025352667271"},{"id":"6025615366871"},{"id":"6025279133071"}],"paging":{"cursors":{"before":"NjAyNTQzMzc2OTg3MQ==","after":"NjAyNTI3OTEzMzA3MQ=="},"next":"https:\/\/graph.facebook.com\/v2.3\/act_330410070\/adgroups?access_token=<TOKEN>&fields&limit=25&after=NjAyNTI3OTEzMzA3MQ\u00253D\u00253D"}}'
  recorded_at: Tue, 16 Jun 2015 14:22:05 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/act_330410070/adgroups?access_token=<TOKEN>&fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"4eedc5e6f5d6a8da531a9b65ec718c4e37f43abe"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6025433769871"},{"id":"6025525815671"},{"id":"6025620304871"},{"id":"6025433555071"},{"id":"6025433765271"},{"id":"6025526303471"},{"id":"6025526321871"},{"id":"6025396551671"},{"id":"6025352670471"},{"id":"6025611509471"},{"id":"6025615327871"},{"id":"6025122270071"},{"id":"6025622524871"},{"id":"6025621391271"},{"id":"6025433764471"},{"id":"6025621319071"},{"id":"6025620897271"},{"id":"6025620875871"},{"id":"6025620341871"},{"id":"6025616608471"},{"id":"6025615296471"},{"id":"6025615366671"},{"id":"6025352667271"},{"id":"6025615366871"},{"id":"6025279133071"}],"paging":{"cursors":{"before":"NjAyNTQzMzc2OTg3MQ==","after":"NjAyNTI3OTEzMzA3MQ=="},"next":"https:\/\/graph.facebook.com\/v2.3\/act_330410070\/adgroups?access_token=<TOKEN>&fields&limit=25&after=NjAyNTI3OTEzMzA3MQ\u00253D\u00253D"}}'
  recorded_at: Tue, 16 Jun 2015 14:22:05 GMT
recorded_with: VCR 2.9.2
