---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/me/adaccounts?access_token=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"77dece23ab85d29f77e0ac944b8ea2c599b17702"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"account_id":"1387991991504454","id":"act_1387991991504454"},{"account_id":"330410070","id":"act_330410070"}],"paging":{"cursors":{"before":"NjAyMTM3NDcwNTI1OA==","after":"NjAwMzQwNjkyMTA3MQ=="}}}'
  recorded_at: Tue, 16 Jun 2015 14:13:10 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/act_330410070/customaudiences?access_token=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"a842c6a98b7ab31e3fadd07ef968eefce86e2226"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6025480514271"},{"id":"6025480500671"},{"id":"6025480491871"},{"id":"6025480490071"},{"id":"6025480481271"},{"id":"6025480477071"},{"id":"6025480463471"},{"id":"6025480453471"},{"id":"6025480449071"},{"id":"6025480441471"},{"id":"6025480427471"},{"id":"6025480416471"},{"id":"6025480402271"},{"id":"6025480387871"},{"id":"6025480377471"},{"id":"6025480201671"},{"id":"6025391384271"},{"id":"6025274424271"},{"id":"6025230309471"},{"id":"6025230290271"},{"id":"6025230286271"},{"id":"6025230258071"},{"id":"6025230144271"},{"id":"6025230089871"},{"id":"6025230085471"}],"paging":{"cursors":{"before":"TmpBeU5UUTRNRFV4TkRJM01Ub3hORE0wTURJeE1UazRPakkwTnpJNE5URXpNakEyT1RFeU1BPT0=","after":"TmpBeU5USXpNREE0TlRRM01Ub3hORE16TkRJMk5qQTNPakkwTnpJNE5URXpNakEyT1RFeU1BPT0="},"next":"https:\/\/graph.facebook.com\/v2.3\/act_330410070\/customaudiences?access_token=<TOKEN>&limit=25&after=TmpBeU5USXpNREE0TlRRM01Ub3hORE16TkRJMk5qQTNPakkwTnpJNE5URXpNakEyT1RFeU1BPT0\u00253D"}}'
  recorded_at: Tue, 16 Jun 2015 14:13:11 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/me/adaccounts?access_token=<TOKEN>&fields=name,description
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"62130b105f78171944bd22437ae3bbfe7b7fb377"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"name":"","account_id":"1387991991504454","id":"act_1387991991504454"},{"name":"Lostmy.name","account_id":"330410070","id":"act_330410070"}],"paging":{"cursors":{"before":"NjAyMTM3NDcwNTI1OA==","after":"NjAwMzQwNjkyMTA3MQ=="}}}'
  recorded_at: Tue, 16 Jun 2015 14:20:25 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/act_330410070/customaudiences?access_token=<TOKEN>&fields=name,description
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"3ae3f1bb8e4a805c6e2364810e0b25921e6a6867"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"name":"Lookalike (NL, 3\u0025) - last_60_days_June_10","description":"","id":"6025480514271"},{"name":"Lookalike
        (BE, 3\u0025) - last_60_days_June_10","description":"","id":"6025480500671"},{"name":"Lookalike
        (FR, 3\u0025) - last_60_days_June_10","description":"","id":"6025480491871"},{"name":"Lookalike
        (ES, 3\u0025) - last_60_days_June_10","description":"","id":"6025480490071"},{"name":"Lookalike
        (AT, 3\u0025) - last_60_days_June_10","description":"","id":"6025480481271"},{"name":"Lookalike
        (CH, 3\u0025) - last_60_days_Jun[...]
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/me/adaccounts?access_token=<TOKEN>&fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"77dece23ab85d29f77e0ac944b8ea2c599b17702"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"account_id":"1387991991504454","id":"act_1387991991504454"},{"account_id":"330410070","id":"act_330410070"}],"paging":{"cursors":{"before":"NjAyMTM3NDcwNTI1OA==","after":"NjAwMzQwNjkyMTA3MQ=="}}}'
  recorded_at: Tue, 16 Jun 2015 14:22:08 GMT
recorded_with: VCR 2.9.2
