---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/123?access_token=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - '2015-06-05T02:27:12+0000'
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"36bc514bf48969dd7d1952b5fc168aa5af46716a"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"id":"123","first_name":"Morgan","last_name":"Grice","link":"https:\/\/www.facebook.com\/app_scoped_user_id\/10102183035880391\/","name":"Morgan
        Grice","updated_time":"2015-06-05T02:27:12+0000"}'
  recorded_at: Tue, 16 Jun 2015 14:12:32 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/me/adaccounts?access_token=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"77dece23ab85d29f77e0ac944b8ea2c599b17702"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"account_id":"1387991991504454","id":"act_1387991991504454"},{"account_id":"330410070","id":"act_330410070"}],"paging":{"cursors":{"before":"NjAyMTM3NDcwNTI1OA==","after":"NjAwMzQwNjkyMTA3MQ=="}}}'
  recorded_at: Tue, 16 Jun 2015 14:16:06 GMT
[...]
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/act_330410070/customaudiences?access_token=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"a842c6a98b7ab31e3fadd07ef968eefce86e2226"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6025480514271"},{"id":"6025480500671"},{"id":"6025480491871"},{"id":"6025480490071"},{"id":"6025480481271"},{"id":"6025480477071"},{"id":"6025480463471"},{"id":"6025480453471"},{"id":"6025480449071"},{"id":"6025480441471"},{"id":"6025480427471"},{"id":"6025480416471"},{"id":"6025480402271"},{"id":"6025480387871"},{"id":"6025480377471"},{"id":"6025480201671"},{"id":"6025391384271"},{"id":"6025274424271"},{"id":"6025230309471"},{"id":"6025230290271"},{"id":"6025230286271"},{"id":"6025230258071"},{"id":"6025230144271"},{"id":"6025230089871"},{"id":"6025230085471"}],"paging":{"cursors":{"before":"TmpBeU5UUTRNRFV4TkRJM01Ub3hORE0wTURJeE1UazRPakkwTnpJNE5URXpNakEyT1RFeU1BPT0=","after":"TmpBeU5USXpNREE0TlRRM01Ub3hORE16TkRJMk5qQTNPakkwTnpJNE5URXpNakEyT1RFeU1BPT0="},"next":"https:\/\/graph.facebook.com\/v2.3\/act_330410070\/customaudiences?access_token=<TOKEN>&limit=25&after=TmpBeU5USXpNREE0TlRRM01Ub3hORE16TkRJMk5qQTNPakkwTnpJNE5URXpNakEyT1RFeU1BPT0\u00253D"}}'
  recorded_at: Tue, 16 Jun 2015 14:16:29 GMT
[...]
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/6025480500671?access_token=<TOKEN>&fields=name,description
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"fac80214f2cb93688e65921aef85ef39c849d9ef"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"name":"Lookalike (BE, 3\u0025) - last_60_days_June_10","description":"","id":"6025480500671"}'
  recorded_at: Tue, 16 Jun 2015 14:19:07 GMT
recorded_with: VCR 2.9.2
